.formInput {
  display: flex;
  flex-direction: column;
  width: 450px;
}

input {
  display: block;
  /* padding-left: 0; */
  text-align: center;
  padding: 15px 95px;
  margin: 5px 0px;
  border-radius: 5px;
  border: 1px solid gray;
}

select {
  display: block;
  text-align: left;
  padding: 15px 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid gray;
}

.field label {
  padding-top: 10px;
  display: block;
  text-align: left;
  font-size: 15px;
  color: gray;
}

.ui-message-success {
  padding: 15px 0 30px 0;
  display: block;
}

input:invalid[focused="true"] {
  border: 1px solid red;
  size: 10px
}

input:invalid[focused="true"]~span {
  display: block;
  size: 10px
}